DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=deped_dts
DB_USERNAME=root
DB_PASSWORD=meowmoew

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=email@gmail.com
SMTP_PASSWORD="smtppassword"
SMTP_FROM_EMAIL=email@gmail.com
SMTP_FROM_NAME="DTS Prototype"

PIN_CACHE_DURATION=72000